.primary{color: #cc0000;}
.primary-bg{background-color:#cc0000}

.accent{color:#ccffff;}
.accent-bg{background-color: #ccffff;}

.success{color:#00cc00}
.success-bg{background-color:#00cc00}

.warning{color: #ff6600}
.warning-bg{background-color: #ff6600}

.danger{color: #ffff00}
.danger-bg{background-color: #ffff00}

.info{color:#cc33ff}
.info-bg{background-color: #cc33ff}