/*Flexbox*/

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;  
}

.flex-item{
    padding: 40px;
    margin: 20px;
}

.flex-item2{
    padding: 20px;
    margin: 10px;
}

.border-flex-item{
    border: solid 3px #000;
}

/*Justify-content*/

.justify-content-center{justify-content: center;}

.justify-content-space{justify-content: space-around;}

.justify-content-between{justify-content: space-between;}

.justify-content-right{justify-content:flex-end;}

.justify-content-left{justify-content: flex-start;}

.justify-content-between{justify-content: space-between}

.justify-content-even{justify-content:space-evenly;}